<md-menu-bar>
    <md-menu ng-repeat="menuItem in menuItems">
        <button ng-click="$mdOpenMenu()" ui-sref="{{menuItem.context}}">
            {{menuItem.header}}
        </button>
        
        <md-menu-content ng-show="menuItem.subMenuItems !== null" width="4">
            <md-menu-item  ng-repeat="subMenuItem in menuItem.subMenuItems">
                <md-menu>
                    <md-button ui-sref="{{subMenuItem.context}}">{{subMenuItem.header}}</md-button>
                </md-menu>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>